<!--
Author: Darren Daly
Version: 1.0
-->
<h1>New article</h1>
{% if errors %}
	<ol>
		{% for error in errors %}
			<li><font color=red>{{ error }}</font>
		{% endfor %}
	</ol>
{% endif %}

<form method="post">
	<p>
		Title:<br>
		<input name="article_title" value="{{ article.article_title|default_if_none:'' }}"/>
	</p>
	<p>
		Text:<br>
		<textarea name="article_text" value="{{ article.article_text|default_if_none:'' }}"></textarea>
	</p>
	<p>
		<input type="submit" value="Create Article"/>
	</p>
</form>
<a href="{% url action="index" %}">Back</a>
