<!--
Author: Darren Daly
Version: 1.0
-->
<p>
	<strong>Title:</strong>
	{{ article.article_title }}
</p>
<p>
	<strong>Text:</strong>
	{{ article.article_text }}
</p>
<h2>Comments</h2>
{% for comment in article.comments %}
	<p>
		<strong>Commenter:</strong>
		{{ comment.commenter }}
	</p>
	<p>
		<strong>Comment:</strong>
		{{ comment.body }}
		</p>
		<a href="/comments/delete/{{ comment.id }}">Delete Comment</a>
{% endfor %}
<h2>Add a comment:</h2>
<form method="post" action="{% url action="comments/create" %}">
	<input type="hidden" name="id" value="{{ article.id }}" />
	<p>
		Commenter:<br>
		<input name="commenter" value="{{ comment.commenter|default_if_none:'' }}"/>
	</p>
	<p>
		Body:<br>
		<textarea name="body" value="{{ comment.body|default_if_none:'' }}"></textarea>
	</p>
	<p>
		<input type="submit" value="Create Comment" />
	</p>
</form>

<a href="/articles/index">Back</a> |
<a href="/articles/update/{{ article.id }}">Edit</a>
